ADMINS = (
    ('your name', 'your email'),
)

MANAGERS = ADMINS

SECRET_KEY = 'something_secret_here'

DATABASES = {
    'default': {
        # mysql  sqlite3
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'lmlego_www',             # Or path to database file if using sqlite3.
        'USER': 'lmlego_www',                      # Not used with sqlite3.
        'PASSWORD': 'password1',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}
