<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Lower Merion JrFLL</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/index.html">Home</a></li>
          <li><a href="/about/aboutus/index.html">About</a></li>
          <li ng-if="user.IsLoggedIn"><a href="/expo/">My Team</a></li>
          <li ng-if="!user.IsLoggedIn"><a href="/expo/register_team/">My Team</a></li>
          <!--              <li><a href="#">Contact</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            </li>
                            -->
        </ul>
        <!--             <form class="navbar-form pull-right" action="/accounts/login/" method="post">
                         <input class="span2" type="text" placeholder="Email">
                         <input class="span2" type="password" placeholder="Password">
                         <button type="submit" class="btn">Sign in</button>
        </form>
        -->
        <ul class="nav pull-right">
          <li ng-if="user.IsLoggedIn"><a href="[[ user.LogoutUrl ]]">[[ user.Email ]] Logout</a></li>
          <li ng-if="!user.IsLoggedIn"><a href="[[ user.LoginUrl ]]">Login</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
