{{ partial "header.html" . }}
{{ partial "top_navbar.html" . }}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Registration is open now!</h1>
        <h2>The 2015 Challenge is Waste Wise.</h2>
        <p>The challenge for 2015 is <a href="http://juniorfirstlegoleague.org/2015-waste-wise-challenge">Waste Wise</a>.  Registration for the Lower Merion Junior First Lego League is now open.  Sign up to have your team participate in this year's Expo.</p>
        <p><a class="btn" href="/expo/registration/">Register Now</a></p>
        <p>There is only space for ##expo.num_teams_left## teams, reserve your spot today</p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>The 2015 Challenge</h2>
          <p>The 2015 Challenge was released in August 2015, named Waste Wise.  You can get the details about the challenge after you register with the Junior First Lego League.</p>
          <p>Your team will research the challenge topic, tehn create a poster and Lego model showing what you have learned, to be judged on the expo day.</p>
          <!-- <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">View details »</a></p> -->
        </div>
        <div class="span4">
          <h2>How do I register?</h2>
          <p>First, register with Lower Merion <a href="/expo/registration/">here</a>.  Second, you register on the US First website to get access to the challenge materials you can then download from their website.  Please note, there is a $25.00 Lower Merion registration fee, in addition to the $50.00 <a href="http://www.usfirst.org/roboticsprograms/jr.fll/registration">US First Registration fee</a> to participate in the Lower Merion Jr FLL event.</p>
          <p><a class="btn" href="/expo/registration/">Register for the Expo day »</a></p>
       </div>
        <div class="span4">
          <h2>Expo Day</h2>
          <p>##expo.num_teams_left## team spaces left for registration</p>
          <p>The expo day is scheduled for Saturday March 12, 2015.  It will be held at Penn Wynne Elementary School between the hours of 9am - 12pm.</p>
           <p><a class="btn" href="/expo/details/">View details »</a></p>
        </div>
      </div>

{{ partial "footer.html" . }}
